@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900";
body {
  background: #17183B;
  margin: 0;
  padding: 0;
  color: #17183B;
  font-family: 'Lato', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #17183B;
}
.App .Overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: .2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: white;
  z-index: 10;
  padding: 20px;
}

.Container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 532px;
  max-width: 650px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.overlay-enter {
  opacity: 0.01;
}

.overlay-enter.overlay-enter-active {
  opacity: .2;
  -webkit-transition: opacity .5s ease .5s;
  transition: opacity .5s ease .5s;
}

.container-enter {
  opacity: 0.01;
}

.container-enter.container-enter-active {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}
